<div class="container">
	<div class="well">
		<h2>CRUD Operations</h2>
		<p>This project makes use of web Localstorage in order to save note data when any CREATE, READ, UPDATE or DELETE operation is performed. It also makes use of Javascript Moment library to format the time. For more detail on how to use Moment, please go to:</p>
		<a href="http://momentjs.com" target="_blank">MomentJS</a>
	</div>
	<div>
		<p>This project covers the following aspects of Angular 2:</p>
		<ul>
			<li>Page routing</li>
			<li>Localstorage</li>
			<li>Two-way data binding with search form</li>
			<li>Importing other Javscript Libraries</li>
		</ul>
	</div>
	<div>
		<h3>Good luck on your ngJourney!</h3>
	</div>
</div>